<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello World</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>
		Hello <%= name %>!
	</h1>
</body>
</html>